# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
wjs-kmedoids++-lumping

# Data files
*.net

wjs-kmedoids++-lumping.dSYM
profile

*.net_tmpcontexts

*.net_tmplinks

*.net_tmpstates

tests.txt

.DS_Store

.DS_Store

PNAS_States_N1000_2007_4grams_wjs.netmake

*.txt

*.tree
