# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
dangling-lumping

merged_network_N10000_2007_3grams.net

outteststatenet.net

statenetwork.net

nodangling-statenetwork.net

wjs-kmedoids++-lumping

km++-nodangling-statenetwork.net

wjs-kmedoids++-lumping.dSYM/Contents/Info.plist

max2-samplestatenetwork.net

samplestatenetwork.net
